/* Button  */

.following-btn:hover {
  opacity: 0.8;
}

#hearth-btn:hover {
  fill: white;
}

/* Footer  */

/* @media screen and (max-width: 879px) {
  .sound-bar-desktop {
    display: none;
  }
}

@media screen and (min-width: 880px) {
  .sound-bar-mobile {
    display: none;
  }
} */