/* Button  */

.following-btn:hover {
  opacity: 0.8;
}

#hearth-btn:hover {
  fill: white;
}
/*Rimuove sezione sinistra*/
@media screen and (max-width:990px){
  #firstSection{
      display: none;
  }
}

/*Rimuove footer*/
@media screen and (max-width:990px){
  footer {
      display: none;
  }
}
/*Aggiunta footer versione mobile*/
@media screen and (min-width:990px) {
  .endPage {
      display: none;
  }
}
@media screen and (max-width:989px) {
.endPage {
  display: block;
}
}
/*Rimuove sezione amici*/
@media screen and (max-width:1200px){
  #hideFriends{
      display: none;
  }
}
/*Rimuove dropdown Utente*/
@media screen and (max-width:786px){
  .userDropdown {
      display: none;
  }
}
@media screen and (min-width:787px){
  .userDropdown {
      display:flex;
  }
}
.icon-link:hover {
  color: white;
}
/* Stile della card con transizione */
.ciao {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Effetto hover: ingrandisce la card e aggiunge un'ombra */
.ciao:hover {
  transform: scale(1.05); /* Ingrandisce la card del 5% */
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3); /* Ombra più intensa */
}
/*Effetto hover: lista playlist sezione sinistra*/
.liColor:hover {
  background-color: rgb(50, 55, 63);
}
