/* Button  */

.following-btn:hover {
  opacity: 0.8;
}

#hearth-btn:hover {
  fill: white;
}

/* Scrollbar Style */
*::-webkit-scrollbar {
  width: 13px;
}

*::-webkit-scrollbar-thumb {
  background-color: #333;
}

*::-webkit-scrollbar-track {
  background-color: #606060;
}

/* Footer  */

/* @media screen and (max-width: 879px) {
  .sound-bar-desktop {
    display: none;
  }
}

@media screen and (min-width: 880px) {
  .sound-bar-mobile {
    display: none;
  }
} */
