/* BUTTON  */

.save-btn:hover {
  color: black !important;
  background-color: #1ed760;
  border: 0px !important;
}

.play-btn:hover {
  border: 0px !important;
}

#hearth-btn:hover {
  fill: white;
}

/* Scrollbar Style */
*::-webkit-scrollbar {
  width: 13px;
}

*::-webkit-scrollbar-thumb {
  background-color: #333;
}

*::-webkit-scrollbar-track {
  background-color: #606060;
}