/* BUTTON  */

.save-btn:hover {
  color: black !important;
  background-color: #1ed760;
  border: 0px !important;
}

.play-btn:hover {
  border: 0px !important;
}

#hearth-btn:hover {
  fill: white;
}
