/*Rimuove sezione sinistra*/
@media screen and (max-width:990px){
    #firstSection{
        display: none;
    }
}
/*Rimuove sezione hero*/
@media screen and (max-width:768px){
    #hideAds{
        display: none;
    }
}
/*Rimuove sezione buonasera con impostazioni*/
@media screen and (min-width:768px){
    #podcastSectionMobile{
        display: none;
    }
    #sectionSettingsMobile{
        display: none;
    }
}

/*Rimuove footer*/
@media screen and (max-width:990px){
    footer {
        display: none;
    }
}
/*Aggiunta footer versione mobile e cambio colore del main*/
@media screen and (min-width:990px) {
    .endPage {
        display: none;
    }
}
.main {
    background-color: #1f1f1f;;
}
@media screen and (max-width:989px) {
 .endPage {
    display: block;
 }
 .main {
    background-color: black;
 }
}
/*Rimuove sezione amici*/
@media screen and (max-width:768px){
    #hideFriends{
        display: none;
    }
}
.icon-link:hover {
    color: white;
  }
 
@media screen and (max-width:786px){
    .userDropdown {
        display: none;
    }
}
@media screen and (min-width:787px){
    .userDropdown {
        display:flex;
    }
}
/*cambio colore freccette in alto e dropDown*/
@media screen and (max-width:989px){
    .colorSvg {
        background-color:rgb(33, 36, 41);
        display: flex;
    }
   
}
@media screen and (min-width:990px){
    .colorSvg {
        background-color: black;
        display: flex;
    }
}

/* Stile della card con transizione */
.ciao {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
/* Effetto hover: ingrandisce la card e aggiunge un'ombra */
  .ciao:hover {
    transform: scale(1.05); /* Ingrandisce la card del 5% */
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3); /* Ombra più intensa */
  }
  .colorCard{
    background-color: rgb(33, 36, 41);
  }
  .colorCard:hover{
    background-color: rgb(50, 55, 63);
  }
  
  /*Effetto hover: lista playlist sezione sinistra*/
  .liColor:hover {
    background-color: rgb(50, 55, 63);
  }